extends base.pug

block content 
    h4 Change Title of video 
    form(method="POST" action="/save-on") 
        input(name= "title", placehloder="Vidoe Title", type="text", value=pageTitle, required)
        input(value="Save", type="submit")